$brandTextColor: white;
$brandTextColorOnPhone: #444965;
$menuItemTextColor: #444965;

$hamburgerColor: #444965;

$brandBackColor: #444965;
$navBackColor: #f8cd4f;
$menuItemBackColor: #f8cd4f;
$menuItemHoveredBackColor: rgba(256, 256, 256, 0.3);

$brandFontSize: 12px;
$menuItemFontSize: 16px;
$menuItemFontSizeOnPhone: 25px;

$brandDividerColor: black;
$brandDividerSize: 1px;